{% extends "spacetrading/spacetrading_template.html" %}
{% load spacetrading_tags %}

{% block content %}
  <h1>{{ headline }}</h1>
    {% if game_list %}
    {% if joinable %}
    <form action="" method="post">
    {% csrf_token %}
    {% endif %}
    <table class="table table-hover table-sm  table-striped">
      <thead class="thead-dark">
          <tr>
            <th scope="col" width="20px"></th>
            <th scope="col" width="50px">#</th>
            <th scope="col" width="150px">Game Name</th>
            <th scope="col">Players</th>
            <th scope="col">Settings</th>
          </tr>
        </thead>
    <tbody>
    {% for game in game_list %}
      <tr>
          <th scope="row">
            {% if joinable %}
              {% if not game.is_active %}
                {% if not user in game.get_users %}
                <button type="submit" name="join_{{ game.id }}" class="btn btn-sm">
                  <i class="fas fa-angle-right"></i>
                </button>
                {% endif %}
              {% endif %}
            {% endif %}
          </th>
          <td class="align-middle">
            <a href="{{ game.get_absolute_url }}">{{ game.id }}</a>
          </td>
          <td class="align-middle">
            {{ game.game_name }}
          </td>
          <td class="align-middle">
          {% with players=game.players.all %}
          {% for player in players|dictsort:"player_number" %}
          {% is_active player players as active %}  
          
            
            {% if active %}
            <font color="red">
            {% endif %}
              {{ player.user.get_username}}
            {% if active %}
            </font>
            {% endif %}  
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% endwith %}
          </td>
          <td class="align-middle">
            {{ game.number_of_players }}
          </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if joinable %}
    </form>
    {% endif %}
  {% else %}
    <p>There are no games.</p>
  {% endif %}       
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}

