{% extends "spacetrading/spacetrading_template.html" %}
{% block create_game %}<li class="nav-item active"><a class="nav-link" href="{% url 'create_game'%}">Create game</a></li>{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>Create new game</h1>
<div class="card">
<div class="card-body">
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
    {{ form.name }}
  </div>
  <div class="form-group">
    <label for="{{ form.number_of_players.auto_id }}">{{ form.number_of_players.label }}</label>
    {{ form.number_of_players }}
  </div>
  <div class="form-group">
    <label for="{{ form.resource_limit.auto_id }}">{{ form.resource_limit.label }}</label>
    {{ form.resource_limit }}
  </div>
  <div class="form-group">
    <label for="{{ form.finish_time.auto_id }}">{{ form.finish_time.label }}</label>
    {{ form.finish_time }}
  </div>
  <div class="form-group">
    <div class="form-check">
      {{ form.midgame_scoring }}
      <label for="{{ form.midgame_scoring.auto_id }}" class="form-check-label" >{{ form.midgame_scoring.label }}</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      {{ form.add_demand }}
      <label for="{{ form.add_demand.auto_id }}" class="form-check-label" >{{ form.add_demand.label }}</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      {{ form.play_all_players }}
      <label for="{{ form.play_all_players.auto_id }}" class="form-check-label" >{{ form.play_all_players.label }}</label>
    </div>
  </div>
    <button type="submit" name="Submit" class="btn btn-primary">
      Create game
    </button>
</form>
</div>
</div>
</div>
{% endblock %}