{% extends "spacetrading/spacetrading_template.html" %}
{% block create_game %}<li class="nav-item active"><a class="nav-link" href="{% url 'create_game'%}">Create game</a></li>{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>Create new game</h1>
<div class="card">
<div class="card-body">
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
    {{ form.name }}
  </div>
  <div class="form-group">
    <label for="{{ form.number_of_players.auto_id }}">{{ form.number_of_players.label }}</label>
    {{ form.number_of_players }}
  </div>
    <button type="submit" name="Submit" class="btn btn-primary">
      Create game
    </button>
</form>
</div>
</div>
</div>
{% endblock %}