{% extends "spacetrading/spacetrading_template.html" %}
{% load spacetrading_tags %}
{% block active_games %}
  {% if joinable %}
    {{ block.super }}
  {% else %}
    <li class="nav-item"><a class="nav-link active" href="{% url 'active_games'%}">Active Games</a></li>
  {% endif %}
{% endblock %}
  
{% block open_games %}
  {% if joinable %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'open_games'%}">Open Games</a></li>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>{{ headline }}</h1>
    {% if game_list %}
    {% if joinable %}
    <form action="" method="post">
    {% csrf_token %}
    {% endif %}
    <table class="table table-hover table-sm  table-striped">
      <thead class="thead-dark">
          <tr>
            <th scope="col" width="20px"></th>
            <th scope="col" width="50px">#</th>
            <th scope="col" width="150px">Game Name</th>
            <th scope="col">Players</th>
            <th scope="col">Settings</th>
          </tr>
        </thead>
    <tbody>
    {% for game in game_list %}
      <tr>
          <th scope="row">
            {% if joinable %}
              {% if not game.is_active %}
                {% if not user in game.get_users %}
                <button type="submit" name="join_{{ game.id }}" class="btn btn-sm">
                  <i class="fas fa-angle-right"></i>
                </button>
                {% endif %}
              {% endif %}
            {% endif %}
          </th>
          <td class="align-middle">
            <a href="{{ game.get_absolute_url }}">{{ game.id }}</a>
          </td>
          <td class="align-middle">
            {{ game.game_name }}
          </td>
          <td class="align-middle">
          {% with players=game.players.all %}
          {% for player in players|dictsort:"player_number" %}
          {% is_active player players game.finish_time as active %}  
          
            {% if game.is_active %}{% if active %}
            <font color="red">
            {% endif %}{% endif %}
              {{ player.user.get_username}}
            {% if game.is_active %}{% if active %}
            </font>
            {% endif %}{% endif %}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% endwith %}
          </td>
          <td class="align-middle">
            Players: {{ game.number_of_players }}, Resource limit: {{ game.resource_limit }}{% if game.midgame_scoring %}, Midgame Scoring{% endif %}{%if game.add_demand %}, Add Resources{% endif %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if joinable %}
    </form>
    {% endif %}
  {% else %}
    <p>There are no games.</p>
  {% endif %}       
  {% if is_paginated %}
  <div class="d-flex justify-content-center">
  <nav aria-label="pagination">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" aria-label="Previous" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  </div>
  {% endif %}
</div>
{% endblock %}

