{% extends "spacetrading/spacetrading_template.html" %}

{% load spacetrading_tags %}

{% block content %}
{{ player_boards |safe }}<br>


{% if user_active %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Trade</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if can_trade %}
            <table>
                <tr>
                    <th></th>
                    <th>{{ red_cross |safe}}</th>
                    <th>{{ radioactive |safe}}</th>
                    <th>{{ food |safe}}</th>
                    <th>{{ water |safe}}</th>
                    <th>{{ building_resource |safe}}</th>
                    <th>Influence</th>
                </tr>
                <tr>
                    <th>Sell:</th>
                    {% can_trade_resource '1' sell_resources as can_sell_1 %}
                    {% can_trade_resource '2' sell_resources as can_sell_2 %}
                    {% can_trade_resource '3' sell_resources as can_sell_3 %}
                    {% can_trade_resource '4' sell_resources as can_sell_4 %}
                    {% can_trade_resource '5' sell_resources as can_sell_5 %}
                    <td>
                        {% if can_sell_1 %}
                        <select id="sell_1" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_sell_2 %}
                        <select id="sell_2" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_sell_3 %}
                        <select id="sell_3" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_sell_4 %}
                        <select id="sell_4" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_sell_5 %}
                        <select id="sell_5" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <td>{% get_cost_resource '1' sell_resources cost_sell_resources %}</td>
                    <td>{% get_cost_resource '2' sell_resources cost_sell_resources %}</td>
                    <td>{% get_cost_resource '3' sell_resources cost_sell_resources %}</td>
                    <td>{% get_cost_resource '4' sell_resources cost_sell_resources %}</td>
                    <td>{% get_cost_resource '5' sell_resources cost_sell_resources %}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Buy:</th>
                    {% can_trade_resource '1' buy_resources as can_buy_1 %}
                    {% can_trade_resource '2' buy_resources as can_buy_2 %}
                    {% can_trade_resource '3' buy_resources as can_buy_3 %}
                    {% can_trade_resource '4' buy_resources as can_buy_4 %}
                    {% can_trade_resource '5' buy_resources as can_buy_5 %}
                    <td>
                        {% if can_buy_1 %}
                        <select id="buy_1" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_buy_2 %}
                        <select id="buy_2" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_buy_3 %}
                        <select id="buy_3" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_buy_4 %}
                        <select id="buy_4" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if can_buy_5 %}
                        <select id="buy_5" onchange="refreshChoices()">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                        </select>
                        {% endif %}
                    </td>
                    <td><select id="buy_i" onchange="refreshChoices()">
                            <option value=0>0</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                    </select></td>
                </tr>
                <tr>
                    <th></th>
                    <td>{% get_cost_resource '1' buy_resources cost_buy_resources %}</td>
                    <td>{% get_cost_resource '2' buy_resources cost_buy_resources %}</td>
                    <td>{% get_cost_resource '3' buy_resources cost_buy_resources %}</td>
                    <td>{% get_cost_resource '4' buy_resources cost_buy_resources %}</td>
                    <td>{% get_cost_resource '5' buy_resources cost_buy_resources %}</td>
                    <td>
                        Influence so far: {{ influence_so_far }}
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                    <tr>
                        <th>{{ coin |safe}}</th>
                        <th>{{ red_cross |safe}}</th>
                        <th>{{ radioactive |safe}}</th>
                        <th>{{ food |safe}}</th>
                        <th>{{ water |safe}}</th>
                        <th>{{ building_resource |safe}}</th>
                    </tr>
                    <tr>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                </table>
                {% endif %}
            <!-- {{ trade_modal |safe }} -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="on_close_trade_modal()">Reset</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="on_trade()">Trade</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Trade
    </button><br><br>
    <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}

    <input class="btn btn-primary" type="submit" value="Finish Move" name="Regular">
    <input class="btn btn-primary" type="submit" value="Pass" name="Pass">
    </form><br><br>
{% endif %}


{{ gameboard |safe }}
{{ planet_market |safe }}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/spacetrading/game_detail.js"></script>
{% endblock %}
