{% extends "spacetrading/spacetrading_template.html" %}

{% load spacetrading_tags %}

{% block next_game %}
{% if nextgame %}
<li class="nav-item"><a class="nav-link" href="{{ nextgame.get_absolute_url }}">Next game</a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="{% url 'next_game'%}">Next game</a></li>
{% endif %}
{% endblock %}

{% block content %}
{{ player_boards |safe }}<br>


{% if user_active %}
    <form action="" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th style="text-align: center">{{ red_cross |safe}}</th>
                <th style="text-align: center">{{ radioactive |safe}}</th>
                <th style="text-align: center">{{ food |safe}}</th>
                <th style="text-align: center">{{ water |safe}}</th>
                <th style="text-align: center">{{ building_resource |safe}}</th>
                <th style="text-align: center">{{ influence |safe}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th style="text-align: center">Sell:</th>
                {% can_trade_resource '1' sell_resources as can_sell_1 %}
                {% can_trade_resource '2' sell_resources as can_sell_2 %}
                {% can_trade_resource '3' sell_resources as can_sell_3 %}
                {% can_trade_resource '4' sell_resources as can_sell_4 %}
                {% can_trade_resource '5' sell_resources as can_sell_5 %}
                <td style="text-align: center">
                    {% if can_sell_1 %}
                        {{ form.sell_resource_1 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.sell_resource_1.name}}" id="{{form.sell_resource_1.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_sell_2 %}
                        {{ form.sell_resource_2 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.sell_resource_2.name}}" id="{{form.sell_resource_2.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_sell_3 %}
                        {{ form.sell_resource_3 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.sell_resource_3.name}}" id="{{form.sell_resource_3.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_sell_4 %}
                        {{ form.sell_resource_4 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.sell_resource_4.name}}" id="{{form.sell_resource_4.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_sell_5 %}
                        {{ form.sell_resource_5 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.sell_resource_5.name}}" id="{{form.sell_resource_5.auto_id}}">
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr class="table-success">
                <td style="text-align: center">Price:</td>
                <td style="text-align: center" id="price_sell_resource_1">{% get_cost_resource '1' sell_resources cost_sell_resources %}</td>
                <td style="text-align: center" id="price_sell_resource_2">{% get_cost_resource '2' sell_resources cost_sell_resources %}</td>
                <td style="text-align: center" id="price_sell_resource_3">{% get_cost_resource '3' sell_resources cost_sell_resources %}</td>
                <td style="text-align: center" id="price_sell_resource_4">{% get_cost_resource '4' sell_resources cost_sell_resources %}</td>
                <td style="text-align: center" id="price_sell_resource_5">{% get_cost_resource '5' sell_resources cost_sell_resources %}</td>
                <td></td>
            </tr>
            <tr class="table-danger">
                <th style="text-align: center">Buy:</th>
                {% can_trade_resource '1' buy_resources as can_buy_1 %}
                {% can_trade_resource '2' buy_resources as can_buy_2 %}
                {% can_trade_resource '3' buy_resources as can_buy_3 %}
                {% can_trade_resource '4' buy_resources as can_buy_4 %}
                {% can_trade_resource '5' buy_resources as can_buy_5 %}
                <td style="text-align: center">
                    {% if can_buy_1 %}
                        {{ form.buy_resource_1 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.buy_resource_1.name}}" id="{{form.buy_resource_1.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_buy_2 %}
                        {{ form.buy_resource_2 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.buy_resource_2.name}}" id="{{form.buy_resource_2.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_buy_3 %}
                        {{ form.buy_resource_3 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.buy_resource_3.name}}" id="{{form.buy_resource_3.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_buy_4 %}
                        {{ form.buy_resource_4 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.buy_resource_4.name}}" id="{{form.buy_resource_4.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if can_buy_5 %}
                        {{ form.buy_resource_5 }}
                    {% else %}
                        <input type="hidden" value="0" name="{{form.buy_resource_5.name}}" id="{{form.buy_resource_5.auto_id}}">
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {{ form.buy_influence }}
                </td>
            </tr>
            <tr class="table-danger">
                <td style="text-align: center">Price:</td>
                <td style="text-align: center" id="price_buy_resource_1">{% get_cost_resource '1' buy_resources cost_buy_resources %}</td>
                <td style="text-align: center" id="price_buy_resource_2">{% get_cost_resource '2' buy_resources cost_buy_resources %}</td>
                <td style="text-align: center" id="price_buy_resource_3">{% get_cost_resource '3' buy_resources cost_buy_resources %}</td>
                <td style="text-align: center" id="price_buy_resource_4">{% get_cost_resource '4' buy_resources cost_buy_resources %}</td>
                <td style="text-align: center" id="price_buy_resource_5">{% get_cost_resource '5' buy_resources cost_buy_resources %}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}
    {{ form.coord_q }}
    {{ form.coord_r }}
    <input type="hidden" value="{{influence_so_far}}" id="starting_influence">
    <input class="btn btn-primary" type="submit" value="Finish Move" name="Regular">
    <input class="btn btn-primary" type="submit" value="Pass" name="Pass">
    </form><br><br>
{% endif %}
<br>
{% for planet in planet_market %}
    {{ planet |safe }}
{% endfor %}
<br>
{{ gameboard |safe }}
{{ influence_tracks |safe }}



<script type="text/javascript" src="/static/spacetrading/game_detail.js"></script>
{% endblock %}
