{% extends "spacetrading/spacetrading_template.html" %}
{% block rules %}<li class="nav-item active"><a class="nav-link" href="{% url 'rules'%}">Rules</a></li>{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>Rules Spacetrading</h1>
<h2>1. Goal</h2>
Every player plays a merchant in a solar system with multiple inhabited planets.<br>
The players fly from planet to planet, buy and sell resources and bribe politicians to gain influence in the merchant councile.<br>
The player who has the most influence in the end of the game wins.
<hr>
<h2>2. Scoring and end of game</h2>
The game ends, when all players have spent more than 100 time units or have passed.<br>
<div class="card mt-3">
<div class="card-body">
<h5 class="card-title">2-4 players</h5>
Each planet in the solar system sends 11+3 politicians to the merchant councile.<br>
During the game the players can pay bribes to the politicians.
<ul>
    <li>At the end of the game the player who has paid the most sends 5 politicians, 2nd 3, 3rd 2 and 4th 1.</li>
    <li>If a player paid no bribe, no politician will be send.</li>
    <li>If multiple players tie, the number is split and rounded down.</li>
    <li>In the middle of the game there is an intermediate scoring where 1st 2, 2nd 1 politicians are send.</li>
</ul>
Tiebreakers are in this order:
<ul>
    <li>Money</li>
    <li>Number of resources</li>
    <li>Who has spent less time</li>
    <li>Who moved last</li>
</ul>
</div></div>
<div class="card mt-3">
<div class="card-body">
<h5 class="card-title">1 player</h5>
TODO
</div></div>
<hr>
<h2>3. Setup</h2>
<div class="card mt-3">
<div class="card-body">
<h5 class="card-title">Planet Setup:</h5>
<ul>
    <li>Planets are set random on one field of their planet track.</li>
    <li>Each planet has one resource it supplies: Uranium, Building, Medicin, Food and Water it supplies (from red to blue).</li>
    <li>The price for the resources are drawn from the 6 supply price markers (2,2,3,3,4,4)</li>
    <li>Each planet has one random demand resource, which isn't the resource it supplies. Each resource is demanded exactly once.</li>
    <li>The price for the resources are drawn from the 12 demand price markers (4x4, 4x5, 4x6)</li>
    <li>
        Each planet has an additional demand resource, which will be placed on the planet market at the later point in the game.
        The resource is neither the supply nor the demand resource of the planet. Each resource is added exactly once during the game.
    </li>
    <li>The prices are drawn from the remaining demand price markers.</li>
    <li>The order in which the additional demand resources will come into play is determined randomly.</li>
    <li>Each resource is bought once and sold once.</li>
</ul>
</div></div>
<div class="card mt-3">
<div class="card-body">
<h5 class="card-title">Player Setup:</h5>
<ul>
    <li>The timemarkers for all players are shuffeled and placed on the 0 spot stacked on each other.</li>
    <li>All players choose a hex to start from, starting with the player at the bottom of the stack.</li>
    <li>Each player starts with no resources.</li>
    <li>The players start with 10, 11, 12, 13 money from the top of the stack to the bottom.</li>
    <li>All players have 0 influence on all planets.</li>
</ul>
</div></div>
<div class="card mt-3">
<div class="card-body">
<h5 class="card-title">Event Setup:</h5>
<ul>
    <li>The planet movement event timemarker is placed on the 10 spot.</li>
    <li>The offer and demant timemarker is placed on the 40, 20, 15, 10 spot for 1, 2, 3, 4 players respectively.</li>
    <li>The midgame scoring event timemarker is placed on the 50 spot.</li>
    <li>The add demand resource timemarker is placed on the 17 spot.</li>
</ul>
</div></div>
<hr>
<h2>4. Gameplay</h2>
If it is a players turn he performs the actions b), c) and d), where b) and c) are optional and d) is mandatory.
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">a) Determining who's turn it is</h4>
The next turn will be performed from the player who has progressed the least on the timeline.<br>
As tiebreaker it is the player who's timemarker is on top.<br>
If an event is the next player after this consideration, the event will be performed and the next player is determined after the same rules.
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">b) Trading</h4>
If the players ship is located on a planet, the player may trade.
He can buy resources which are offered on the planet for the given price and sell resources that are demanded for the given price.
The maximum number of each resource the player may posses is 5 (TODO).
The cost of each resource, which was bought/sold at least once is decreased/increased by one.
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">c) Bribe</h4>
If the player sold at least one of each resource the planet demanded, he may pay one money to increase his influence on the politicians on this planet by one.
For each additional space that a player wishes to move along the influence track, he must pay the value shown on the space he moves to.
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">d) Flying to another position</h4>
The active player chooses and destination hex.<br>
The timemarker is increased by the distance of the hex to the current position plus two. If it is the same hex the tie is instead increased by 4.<br>
The active player may choose to spend an arbitrary amount of additional time.<br>
If another timemarker is already at this space the marker is placed on top.<br><br>
Alternatively a player may pass and end the game (only for himself). This only makes sense at the end of the game.
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">e) Events</h4>
<h5>e*) Planet movement</h5>
All planets move counterclockwise by one space. If there were any ships on the planet, they move with the planet.
Afterwards the marker is moved forward by 10 spots.
<h5>e**) Adjust offer and demant</h5>
All planet market boards are moved to the right by one spot, i.e. the price for the offered resources decreases by one and for the demanded resources increases by one.
Afterwards the marker is moved forward by 40, 20, 15, 10 spot for 1, 2, 3, 4 players respectively.
<h5>e***) Midgame scoring</h5>
As endgame scoring, only the player with the highest bribe sends 2 politicians and the 2nd one 1. All other players send none.
<h5>e****) Add demand resource</h5>
The next (according to the order determined in the setup) additional demand resource is placed on its planetboard at its setup price.
</div></div>
<hr>
<h2>5. Open Ideas</h2>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">a) Additional events</h4>
<ul>
    <li>Political event cards</li>
    <li>Additional ship</li>
</ul>
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">b) Ship improvements</h4>
<ul>
    <li>Additional storage</li>
    <li>Faster</li>
</ul>
</div></div>
<div class="card mt-3">
<div class="card-body">
<h4 class="card-title">c) Alternative trading</h4>
<ul>
    <li>Prices are somehow managed by actually placing/taking resources from the market.</li>
</ul>
</div></div>
</div>
{% endblock %}