{% extends "spacetrading/spacetrading_template.html" %}
{% block rules %}<li class="nav-item active"><a class="nav-link" href="{% url 'rules'%}">Rules</a></li>{% endblock %}
{% block content %}
<div class="container mt-3">
<h1>Rules Spacetrading</h1>
<h2>1. Goal</h2>
Every player plays a mergent in a solar system with multiple inhabited planets.<br>
The players fly from planet to planet, buy and sell resources and bribe politicians to gain influence in the mergent councile.<br>
The player who has the most influence in the end of the game wins.
<h2>2. Scoring and end of game</h2>
The game ends, when all players have spent more than 100 time units or have passed.
<h3>2-4 players</h3>
Each planet in the solar system sends 11 politicians to the mergent councile.<br>
During the game the players can pay bribes to the politicians.
<ul>
    <li>The player who has paid the most sends 5 politicians, 2nd 3, 3rd 2 and 4th 1.</li>
    <li>If a player paid no bribe, no politician will be send.</li>
    <li>If multiple players tie, the number is split and rounded down.</li>
</ul>
Tiebreakers are in this order:
<ul>
    <li>Money</li>
    <li>Number of resources</li>
    <li>Who has spent less time</li>
    <li>Who moved last</li>
</ul>
<h3>1 player</h3>
TODO
<h2>3. Setup</h2>
Planet Setup:
<ul>
    <li>Planets are set random on one field of their planet track.</li>
    <li>Each planet has one random resource it buys and one random resource it sells.</li>
    <li>The prices are random: 2-4 for buying, 4-6 for selling.</li>
    <li>Each resource is bought once and sold once.</li>
</ul>
Player Setup (probably need to do this differently due to balancing, but until the rest is implemented):
<ul>
    <li>The timemarkers for all players are shuffeled and placed on the 0 spot stacked on each other.</li>
    <li>All players choose a hex to start from, starting with the player at the bottom of the stack.</li>
    <li>Each player starts with no resources.</li>
    <li>The players start with 10, 11, 12, 13 money from the top of the stack to the bottom.</li>
    <li>All players have 0 influence on all planets.</li>
</ul>
Event Setup
<ul>
    <li>The planet movement event timemarker is placed on the 10 spot.</li>
    <li>The offer and demant timemarker is placed on the 40, 30, 25, 20 (TODO) spot for 1, 2, 3, 4 players respectively.</li>
</ul>
<h2>4. Gameplay</h2>
If it is a players turn he performs the actions b), c) and d), where b) and c) are optional and d) is mandatory.
<h3>a) Determining who's turn it is</h3>
The next turn will be performed from the player who has progressed the least on the timeline.<br>
As tiebreaker it is the player who's timemarker is on top.<br>
If an event is the next player after this consideration, the event will be performed and the next player is determined after the same rules.
<h3>b) Trading</h3>
If the players ship is located on a planet, the player may trade.
He can buy resources which are offered on the planet for the given price and sell resources that are demanded for the given price.
The cost of each resource, which was bought/sold at least once is decreased/increased by one.
<h3>c) Bribe</h3>
If the player traded at least one resource, he may pay one money to increase his influence on the politians on this planet by one.
For each additional space that a player wishes to move along the influence track, he must pay the value shown on the space he moves to.
<h3>d) Flying to another position</h3>
The active player chooses and destination hex, which is different from the current position.<br>
The timemarker is increased by the distance of the hex to the current position plus two.<br>
If another timemarker is already at this space the marker is placed on top.<br><br>
Alternatively a player may pass and end the game (only for himself). This only makes sense at the end of the game.
<h3>e) Events</h3>
<h4>e*) Planet movement</h4>
All planets move counterclockwise by one space. If there were any ships on the planet, they move with the planet.
Afterwards the marker is moved forward by 10 spots.
<h4>e**) Adjust offer and demant</h4>
All planet market boards are moved to the right by one spot, i.e. the price for the offered resources decreases by one and for the demanded resources increases by one.
Afterwards the marker is moved forward by 40, 30, 25, 20 (TODO) spot for 1, 2, 3, 4 players respectively.
<h2>5. Open Ideas</h2>
<h3>a) Additional events</h3>
<ul>
    <li>Settlement: Add new offer and demant tokens to a planet</li>
    <li>Political event cards</li>
    <li>Additional ship</li>
</ul>
<h3>b) Ship improvements</h3>
<ul>
    <li>Additional storage</li>
    <li>Faster</li>
</ul>
<h3>c) Alternative trading</h3>
<ul>
    <li>Storage: Only a max. number of each resource instead of a total max.</li>
    <li>Prices are somehow managed by actually placing/taking resources from the market.</li>
    <li>No selling on planets. Instead one politician can be bribed represented by a card. The bribe costs money, resources, time and gives you VPs, money, resources or anything else that may come along.</li>
</ul>
</div>
{% endblock %}